main {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 30% 5% 10% 15% 10% 30%;
}

img {
    width: 150px;
    border: 5px solid black;
}

.Icons img {
    width: 30px;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    
}

.leftColumn header {

}